.product-color {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
}

.product-color.cam {
    background: orange;
}

.product-color.den {
    background: black;
}

.product-color.trang {
    background: white;
    color: black;
}

.product-color.xam {
    background: gray;
}

.product-color.vang {
    background: yellow;
    color: black;
}

.product-color.hong {
    background: pink;
}

.product-color.do {
    background: red;
}

.product-color.nau {
    background: brown;
}

.product-color.tim {
    background: purple;
}

.product-color.xanh {
    background: blue;
}
