input[name="search"] {
    height: 100%;
}

.category-mega-menu > li > a.megamenu-head {
    border-bottom: 0.5px solid #bbbbbb;
    padding-bottom: 5px;
}

.single-vertical-product .product-image {
    min-width: 40%;
}

.product-image + h5.product-name, .latest-product-section .product-image + .product-description h5.product-name {
    max-height: 34px;
    overflow: hidden;
}

.latest-product-section .product-image + .product-description {
    max-height: 70px;
    overflow: hidden;
}

.product-image {
    height: 135px;
    background: white;
    overflow: hidden;
}

.product-image a {
    display: block;
    margin: auto 0;
    overflow: hidden;
}

.single-latest-product .latest-product-hover-content {
    background: white;
    padding: 20px 5px;
    bottom: 0;
}

a.chooseColor.active .product-color {
    border: 2px solid red;
}

.product-color {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 1px 15px 10px;
    color: white;
}

.header-search-bar .input-group-append input[type=search] {
    height: 100%;
}

.pagination a, .pagination li.disabled > span {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 2px;
}

.pagination li.active > a {
    color: white;
    background: #007bff;
}

.shopping-cart .cart-floating-box {
    height: auto !important;
}

.single-product-content {
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 1px solid transparent;
    margin-bottom: 10px;
}

.single-product-content .price-box {
    border-bottom: none;
    margin-bottom: 5px;
}
